<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7 Pickers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF71B7AB1C5EFB5A005268D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF71B7BE1C5EFB5A005268D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF71B7C91C5EFB5A005268D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
